@import "tailwindcss";

@layer components {
  .loader {
    width: 120px;
    height: 20px;
    border-radius: 20px;
    background:
      repeating-linear-gradient(135deg, #f03355 0 10px, #ffa516 0 20px) 0/0%
        no-repeat,
      repeating-linear-gradient(135deg, #ddd 0 10px, #eee 0 20px) 0/100%;
    animation: p3 2s infinite;
  }
  @keyframes p3 {
    100% {
      background-size: 100%;
    }
  }
}

@media (min-width: 720px) {
  .flex-720 {
    flex-direction: row;
  }
}

@media (min-width: 930px) {
  .grid-930 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1140px) {
  .grid-1140 {
    grid-template-columns: repeat(4, 1fr);
  }
}
